@font-face {
	font-family: 'KoreaMapFontV1';
	src: url("../font/korea-map-font-v1.eot");
	src: url("../font/korea-map-font-v1.eot?#iefix") format("embedded-opentype"), url("../font/korea-map-font-v1.woff") format("woff"), url("../font/korea-map-font-v1.ttf") format("truetype"), url("../font/korea-map-font-v1.svg#koreamapfontv1regular") format("svg");
	font-weight: normal;
	font-style: normal;
}

.korea-map-font-v1 {
	font: normal normal 300px/100% "KoreaMapFontV1";
	font-size-adjust: none;
	text-rendering: optimizeLigibility;
	overflow: hidden;
	width: 700px;
	display: block;
	margin: 0 auto;
	padding: 0;
	list-style: none;
	font-size: 700px;
	color: #f0f0f0;
}
.korea-map-font-v1 li {
	float: left;
	margin: -20% 0 0 -100%;
	position: relative;
	left: 101%;
	width: 100%;
	cursor: default;
	user-select: none;
}

  .경기, .경북 {
	color: #FF0000;
  }
