@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&family=Roboto:ital,wght@0,300;1,700&display=swap");

.header {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: "Noto Sans KR", sans-serif;
  // border-bottom: 1px solid red;
  height: 80px;
  .HeaderNavigation {
    display: flex;
    li {
      button {
        background-color: #007299;
        border: 0;
        padding: 10px 50px;
        color: white;
        border-radius: 40px;
        cursor: pointer;
        font-size: 18px;
        // font-weight: bold;
        font-family: "Noto Sans KR", sans-serif;
        letter-spacing: 1px;
      }
    }
    li:nth-child(2) {
      padding-top: 5px;
      font-size: 24px;
    }
  }
  span {
    img {
      height: 79px;
    }
  }
}
