.koreaMap{
  transform: scale(0.8);
  .prefix__land {
    cursor: pointer;
    fill-opacity: 1;
    stroke: white;
    stroke-opacity: 1;
    stroke-width: 0.5;
    transition: all 2s;
    fill: aliceblue;
  }
  .prefix__land:hover {
    stroke: rgb(250, 184, 239);
    stroke-width: 0.5%;
    &.select{
      stroke:rgb(253, 150, 198);
      stroke-width: 0.5%;
    }
  }
  .select{
    stroke: black;
    stroke-width: 0.5%;
  }
  .low{
    fill: rgb(255, 162, 162);
  }
  .lowMid{
    fill: rgb(253, 114, 114);
  }
  .mid{
    fill: rgb(245, 128, 128);
  }
  .midHigh{
    fill: rgb(255, 67, 67);
  }
  .high{
    fill: rgb(255, 0, 0);
  }
}