.sign_body {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: url(./signinBackground.jpg) no-repeat;
  background-size: cover;
}
form {
  box-sizing: border-box;
  width: 400px;
  height: 100vh;
  margin: 0px auto;
  padding-top: 200px;
  
}

.h1 {
  font-size: 40px;
  font-weight: bold;
  color: rgb(255, 255, 255);
  text-align: center;
}

.h1 .letter{
  text-align: center;
  font-size: 27px;
  font-weight: bold;
}

// .bar {
//   margin: 20px auto;
//   width: 200px;
//   height: 8px;
//   background: linear-gradient(to right, rgb(128, 59, 50), rgb(221, 180, 155));
// }

.sign_id p{
  margin-left: 50px;
  color: rgb(255, 255, 255);
}

.sign_pw p{
  margin-left: 50px;
  color: rgb(255, 255, 255);
}

.sign_btn {
  border-radius: 10px;
  font-weight: 700;
  display: block;
  margin: 20px auto;
  width: 120px;
  height: 40px;
  background-color: rgb(233, 240, 243);
}

.sign_input {
  display: block;
  margin: 0 auto;
  width: 300px;
  border-radius: 5px;
}
