body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.root {
  position: relative;
  width: 100%;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.prefix__land {
  cursor: pointer;
  fill: #cccccc;
  fill-opacity: 1;
  stroke: white;
  stroke-opacity: 1;
  stroke-width: 0.5;
  transition: all 2s;
}
.prefix__land:hover {
  stroke: aqua;
}
.low {
  fill: rgba(255, 0, 0, 0.2);
}
.lowMid {
  fill: rgba(255, 0, 0, 0.4);
}
.mid {
  fill: rgba(255, 0, 0, 0.6);
}
.midHigh {
  fill: rgba(255, 0, 0, 0.8);
}
.high {
  fill: rgba(255, 0, 0, 1);
}
