body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.root {
  position: relative;
  width: 100%;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.prefix__land {
  cursor: pointer;
  fill: #cccccc;
  fill-opacity: 1;
  stroke: white;
  stroke-opacity: 1;
  stroke-width: 0.5;
  transition: all 2s;
}
.prefix__land:hover {
  stroke: aqua;
}
.low{
  fill: rgb(255, 162, 162);
}
.lowMid{
  fill: rgb(253, 114, 114);
}
.mid{
  fill: rgb(245, 128, 128);
}
.midHigh{
  fill: rgb(255, 67, 67);
}
.high{
  fill: rgb(255, 0, 0);
}
